@model ASP.NET_COMM5.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="orderID" />
            <div class="form-group">
                <label asp-for="dateOrderPlaced" class="control-label"></label>
                <input asp-for="dateOrderPlaced" class="form-control" />
                <span asp-validation-for="dateOrderPlaced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOrderPaid" class="control-label"></label>
                <input asp-for="dateOrderPaid" class="form-control" />
                <span asp-validation-for="dateOrderPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentMethod" class="control-label"></label>
                <input asp-for="paymentMethod" class="form-control" />
                <span asp-validation-for="paymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerFK" class="control-label"></label>
                <select asp-for="CustomerFK" class="form-control" asp-items="ViewBag.CustomerFK"></select>
                <span asp-validation-for="CustomerFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
